<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<title>la trago3 wla 2stslam (el kabda el damia)</title>

		<!--shaders-->
		<script id="vertex-shader" type="x-shader/x-vertex" src="../shaders/vertex_shader.frag"></script>
		<script id="fragment-shader" type="x-shader/x-fragment" src="../shaders/fragment_shader.frag"></script>

		<!--course library -->
		<script type="text/javascript" src="../Common/webgl-utils.js"></script>
		<script type="text/javascript" src="../Common/initShaders.js"></script>
		<script type="text/javascript" src="../Common/MV.js"></script>
		<script type="text/javascript" src="../Common/initShaders2.js"></script>
		<script type="text/javascript" src="../Common/MV2.js"></script>

		<!-- our js code -->
		<script type="text/javascript" src="../js/main.js"></script>

	</head>


	<body>
		<canvas id="gl-canvas" width="512" height="512">
		Oops ... your browser doesn't support the HTML5 canvas element
		</canvas>
	</body>
</html>
