<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<title>la trago3 wla 2stslam (el kabda el damia)</title>

		<!--shaders-->
		<script id="background-vertex-shader" type="x-shader/x-vertex">
			attribute  vec4 vPosition;
			attribute  vec4 vColor;
			attribute  vec2 vTexCoord;

			varying vec4 color;
			varying vec2 fTexCoord;

			uniform vec4 dr;


			void main() {
			
				gl_PointSize = 10.0;
				gl_Position = vPosition + dr;

				color = vColor;
				fTexCoord = vTexCoord;
			}
		</script>

		<script id="background-fragment-shader" type="x-shader/x-fragment">

			precision mediump float;
			varying vec4 color;
			uniform sampler2D texture;
			varying vec2 fTexCoord;
	
			void main() {
				gl_FragColor = texture2D(texture, fTexCoord);
			}
	
		</script>
		<script id="obstacles-vertex-shader" type="x-shader/x-vertex">
			attribute  vec4 vPosition;
			attribute  vec4 vColor;
			
			varying vec4 color;
			uniform vec4 dr;

			void main() {
			
				gl_PointSize = 10.0;
				gl_Position = vPosition + dr;				
				color = vColor;
			}
		</script>

		<script id="obstacles-fragment-shader" type="x-shader/x-fragment">

			precision mediump float;
			varying vec4 color;
	
			void main() {
				gl_FragColor = color;
			}
	
		</script>

		<!--course library -->
		<script type="text/javascript" src="../Common/webgl-utils.js"></script>
		<script type="text/javascript" src="../Common/initShaders.js"></script>
		<!--<script type="text/javascript" src="../Common/initShaders2.js"></script>-->
		<script type="text/javascript" src="../Common/MV.js"></script>
		<script type="text/javascript" src="../Common/MV2.js"></script>

		<!-- our js code -->

		<script type="text/javascript" src="../js/background.js"></script>
		<script type="text/javascript" src="../js/obstacles.js"></script>
		<script type="text/javascript" src="../js/create_texture.js"></script>
		<script type="text/javascript" src="../js/create_UI.js"></script>
		<script type="text/javascript" src="../js/main.js"></script>

	</head>


	<body>
		<canvas id="gl-canvas" width="512" height="512">
		Oops ... your browser doesn't support the HTML5 canvas element
		</canvas>


	</body>
</html>
